<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merge PDF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Merge Pdf Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="mb-3 my-5">
      <form action="/merge" id="getpdf" enctype="multipart/form-data" method="post">
        <div class="alert alert-success" role="alert" id="loginAlert">
          <p style="text-align: center;">Please select atleast two files to merge</p>
        </div>
        <script>
          $(document).ready(function () {
            $('#loginAlert').hide();
            const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('error');
            if (myParam == "Incorrect_Credential") {
              $('#loginAlert').show();
            }
            setTimeout(() => {
              $('#loginAlert').hide();

            }, 3000)

            $('#embeded').hide();
            $('#email').hide();
            
            const name = urlParams.get('name');
            // console.log(name);
            if (name != null) {
              // console.log("In ifff.....");
              $('#embeded').show();
              $('#email').show();
              $('#setsrc').attr("src", "../static/" + name + "");
              // src="../uploads/"+name+"";

            }
            else {
              // console.log("In elseee....");
              $('#embeded').hide();
            }


          })


          function GetFileSizeNameAndType() {
            document.getElementById('fp').innerHTML = "";
            fi = document.getElementById('fileUpload'); // GET THE FILE INPUT AS VARIABLE.
            var arr;
            var totalFileSize = 0;
            filelength = fi.files.length;
            document.getElementById('filesize').value = filelength;
            const files = Object.values(fi.files);


            // console.log("Innter value :: "+);
            if (fi.files.length > 0) {

              files.map((element, index) => {
                var reader = new FileReader();
                var count = 0;
                reader.readAsBinaryString(element);
                reader.onloadend = function () {
                  count = reader.result.match(/\/Type[\s]*\/Page[^s]/g).length
                  // console.log("filepage"+index);
                  let name = "filepage" + index;
                  // console.log(name);
                  //document.getElementById('id').name = name;
                  let tag = document.getElementById(name);

                  console.log(count);
                  tag.value = count;
                  let dropid="dropdown"+index;
                  // tag.setAttribute("name", name);
                  console.log(tag.value);
                  for (i = 1; i <=count; i++) {
                    var opt = document.createElement("option");
                    document.getElementById(dropid).innerHTML += '<option id="' + i + ' ">' + i + '</option>';
                  }
                  console.log(tag);
                }
              });



              document.getElementById('fp').innerHTML = files.map((element, index) => (`
                
                </br>
                <span class="bi bi-file-pdf-fill teal-color" style="font-size: 100px;"> 
                  </span>Selected File Name is <b> ${element.name} </b>.
                <div class="card" id="card" style="width: 18rem;">  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="all" name="page-selection-${index}"/>All
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Odd" name="page-selection-${index}"/>Odd
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Even" name="page-selection-${index}"/>Even
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="Custom" onchange="document.getElementById('dropdown${index}').style.display='inline'"/>Custom<br>
                      <select id="dropdown${index}" value="Custom" name="page-selection-${index}" style="display: none;" multiple>
                      </select> 
                  </div>
                </div>
                
                <input type="hidden" id="filepage${index}" name="filepage${index}" value="">`
              ))

            }
          }


          function downloadFile() {

            // document.getElementById('dropdown${index}').style.display = inline;

            // e.preventDefault();
            console.log(".........");
            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get('name');
            console.log(name);
            let filename = $("#filename").val()
            console.log(filename);
            let obj = {
              oldname: name,
              newname: filename
            };
            //let arr = [name,filename];
            console.log(obj);
            let filepath = "download/" + JSON.stringify(obj) + "";
            console.log(filepath);
            $('#formpath').attr('action', filepath);
            // $('a#hrefsrc').attr({target:'_blank',href:'filepath'});

          };

          function getEmail(){
            let emailid =  $("#emailid").val()
            // Document.getElementById('emailid');
            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get('name');
            let obj = {
              filename: name,
              email: emailid
            };
            console.log(obj);
            let sendEmail = "email/" +  JSON.stringify(obj) + "";
            console.log(sendEmail);
            $('#emailpath').attr('action', sendEmail);
          }

        

        </script>
        <label for="formFileMultiple" class="form-label">Select pdf</label>
        <i class="fas fas-paper-plane"></i>
        <div class="row"  >
          <input class="form-control mb-3 w-50 col-sm-8 col-md-8" name="pdfs" type="file" id="fileUpload" multiple
            accept=".pdf" value="" onchange="GetFileSizeNameAndType()" required>
          <input type="hidden" name="filesize" value="" id="filesize">
          <button type="submit" id="preview" class="btn btn-secondary mb-3 mx-5 col-sm-2">Preview</button>
        </div>
        <div id="fp"></div>
      </form>


      <div id="embeded" class="row">
        <embed id="setsrc" type="application/pdf" class="form-control my-5 w-50 min-vh-100 float-end">
        <form action="/download" id="formpath">
          <button type="submit" id="download" class="btn btn-secondary float-end mb-2 mx-2"
            onclick="downloadFile()">Download</button>
          <input id="filename" placeholder="Enter File name" class="float-end mb-2 mx-2" required></input>
        </form>
      </div>
      <!-- <button type="submit" id="submit" class="btn btn-secondary" style="float: right;">Save</button> -->
      <div id="email">
      <form action="/email" id="emailpath">
        <button type="submit" id="download" class="btn btn-secondary float-end mb-2 mx-2" onclick="getEmail()">Email</button>
        <input id="emailid" type="email" placeholder="Enter recipient Email" class="float-end mb-2 mx-2" required></input>
      </form>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</body>

</html>